<%- include('../layout', { title: 'g2' }) %>

    <section class="center-content">
        <h1>G2 PAGE</h1>

        <% if (message) { %>
            <h2 style="color: rgb(123, 220, 58)">
                <%= message %>
            </h2>
            <% } %>

                <div class="border border-4 p-4">
                    <form id="g2Form" action="/g2" method="POST" onsubmit="return validateForm()">
                        <div class="mb-4">
                            <h2 id="content-title">Personal Information</h2>
                            <div class="col-md-6">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" id="firstName" name="firstName" class="form-control"
                                    value="<%= user.firstName %>">
                            </div>
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" id="lastName" name="lastName" class="form-control"
                                    value="<%= user.lastName %>">
                            </div>
                            <div class="col-md-6">
                                <label for="licenseNumber" class="form-label">License Number</label>
                                <input type="number" id="licenseNumber" name="licenseNumber" class="form-control"
                                    value="<%= user.licenseNumber %>">
                            </div>
                            <div class="col-md-6">
                                <label for="age" class="form-label">Age</label>
                                <input type="number" id="age" name="age" class="form-control" min="16"
                                    value="<%= user.age %>">
                            </div>
                            <div class="col-md-6">
                                <label for="dob" class="form-label">DOB</label>
                                <input type="date" id="dob" name="dob" class="form-control">
                            </div>
                        </div>

                        <div class="mb-4">
                            <h2 id="content-title">Car Information</h2>
                            <div class="col-md-6">
                                <label for="make" class="form-label">Make</label>
                                <input type="text" id="make" name="make" class="form-control"
                                    value="<%= user.carDetails.make %>">
                            </div>
                            <div class="col-md-6">
                                <label for="model" class="form-label">Model</label>
                                <input type="text" id="model" name="model" class="form-control"
                                    value="<%= user.carDetails.model %>">
                            </div>
                            <div class="col-md-6">
                                <label for="carYear" class="form-label">Year</label>
                                <input type="number" id="carYear" name="carYear" class="form-control" min="1886"
                                    value="<%= user.carDetails.carYear %>">
                            </div>
                            <div class="col-md-6">
                                <label for="plateNumber" class="form-label">Plate Number</label>
                                <input type="text" id="plateNumber" name="plateNumber" class="form-control"
                                    value="<%= user.carDetails.plateNumber %>">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary">UPDATE</button>
                    </form>
                </div>
    </section>

    <script>
        function validateForm() {
            //First we will capture all the data the customer has inputted
            const firstName = document.getElementById('firstName').value;
            const lastName = document.getElementById('lastName').value;
            const licenseNumber = document.getElementById('licenseNumber').value;
            const age = document.getElementById('age').value;
            const dob = document.getElementById('dob').value;
            const make = document.getElementById('make').value;
            const model = document.getElementById('model').value;
            const carYear = document.getElementById('carYear').value;
            const plateNumber = document.getElementById('plateNumber').value;

            //This will be used to check if the value is alphabetic and not Numerical
            const alphabeticalPattern = /^[A-Za-z\s]+$/;

            //First we will check any of the fields are empty or not - as thats the minimal requirement
            if (!firstName || !lastName || !licenseNumber || !age || !dob || !make || !model || !carYear || !plateNumber) {
                alert('All fields are required.');
                return false;
            }
            //using the earlier variable - we will test the below to see if they are alphabetical
            if (!alphabeticalPattern.test(firstName) || !alphabeticalPattern.test(lastName) || !alphabeticalPattern.test(make) || !alphabeticalPattern.test(model)) {
                alert('First Name, Last Name, Make, and Model must contain only letters and spaces.');
                return false;
            }
            //Just putting 1886 since its considered thats the year the first automobile was created.
            if (parseInt(carYear) < 1886) {
                alert('Car Year must be 1886 or later.');
                return false;
            }

            return true;
        }
    </script>